/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

p {
    font-size: 25px;
    margin: 50px auto;
}

.container-center {
    width: 70%;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    /* background-color: white; */
    border-radius: 50px;
    padding: 20px 25px;
    font-size: 22px;
}

#login-btn {
    background-color: white;
    padding: 10px 15px;
}


a:visited {
    color: inherit;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
/* nav */
header {
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    background-image: url("../img/jumbo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#logo {
    float: left;
    /* height: 50px; */
}

nav ul {
    /* height: 50px; */
    line-height: 50px;
    float: left;
    margin: 0 15%;
}

header ul li {
    float: left;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0 25px;
}

header ul li a {
    text-decoration: none;
    float: right;
}

header nav .btn {
    display: inline-block;
    font-size: 18px;
    color: black;
}

/* jumbo */
.jumbotron {
    width: 60%;
    margin: 15% auto;
    text-align: center;
}

.jumbotron h1 {
    font-size: 60px;
}

.jumbotron .btn {
    margin: 0 20px;
}

.jumbotron a:first-of-type {
    color: black;
}

.jumbotron a:last-of-type {
    background-color: black;
}

.jumbotron i {
    margin-right: 10px;
}

/* main */
main section {
    padding: 150px 0;
}

section.inverted, section.upside {
    background-color: rgb(240, 240, 240);
}

main .col {
    width: 50%;
    float: left;
}

main .inverted .col {
    float: right;
}

.inverted .txt {
    padding-right: 200px;
}

.normal .txt {
    padding-left: 200px;
}

.txt h2 {
    font-size: 50px;
}

.txt h3 {
    font-size: 35px;
    margin: 20px auto;
    background-image: url("../img/stars.svg");
    width: 60%;
    height: 2em;
}
.row {
    text-align: center;
}

.upside img {
    width: 100%;
}

.upside .row i {
    margin-right: 10px;
}

.upside a {
    color: white;
    background-color: #698ef0;
}

/* footer */
footer {
    background-color: rgba(10, 10, 10, 0.9);
    padding: 60px 0;
}

footer aside {
    width: 20%;
    float: left;
    margin-right: 12%;
}

footer h3 {
    font-size: 40px;
    color: #698ef0;
}

footer .col {
    width: 15%;
    float: left;
    margin-bottom: 20px;
    margin-right: 1%;
    /* debug */
    /* border: 2px solid violet; */
}

footer li {
    list-style: none;
    margin: 15px 0;
    font-size: 18px;
    color: white;
}

footer li:first-child {
    color: #698ef0;
    font-weight: bold;
}

#bottom-footer {
    border-top: 1px solid #698ef0;
    padding-top: 30px;
    padding-bottom: 50px;
}

#reg-btn {
    font-size: 16px;
    background-color: #698ef0;
    color: white;
    padding: 10px 15px;
}

#bottom-footer a {
    float: right;
}