/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-center {
    width: 70%;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 25px;
}

a:visited {
    color: inherit;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
/* nav */
header {
    /* height: 70%; */
    color: white;
    padding-top: 25px;
    padding-bottom: 80px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

#logo {
    float: left;
    height: 50px;
}

.menu-center {
    display: block;
    width: 60%;
    height: 50px;
    margin: 0 25%;
}

header ul li {
    float: left;
    list-style: none;
    line-height: 50px;
    font-size: 25px;
    margin: 0 35px;
}

header ul li a {
    text-decoration: none;
}

header nav .btn {
    float: right;
    color: black;
}

/* jumbo */
.jumbotron {
    width: 60%;
    margin: 10% auto;
    text-align: center;
}

.jumbotron h1 {
    font-size: 60px;
    padding: 0 40px;
    margin-bottom: 30px;
}

.jumbotron p, .col p, .row p {
    font-size: 25px;
    margin: 50px auto;
}

.jumbotron .btn {
    margin: 0 20px;
    color: black;
}

/* main */
main section {
    padding: 150px 0;
}

section.inverted, section.upside {
    background-color: lightgray;
}

main .col {
    width: 50%;
    float: left;
}

.inverted .col {
    float: right;
}

.inverted .txt {
    padding-right: 200px;
}

.normal .txt {
    padding-left: 200px;
}

.txt h2 {
    font-size: 50px;
}

.txt h3 {
    font-size: 35px;
    margin: 20px auto;
    background-image: url("../img/stars.svg");
    width: 60%;
    height: 2em;
}
.row {
    text-align: center;
}

.upside img {
    width: 100%;
}

/* footer */
footer {
    background-color: rgb(50, 50, 50);
}

footer aside {
    width: 40%;
    float: left;
    padding-right: 20px;
}

footer h3 {
    font-size: 40px;
}

footer .col {
    width: 15%;
    float: left;
    margin-bottom: 20px;
    /* debug */
    border: 2px solid violet;
}

footer li {
    list-style: none;
}

footer h6 {
    font-size: 22px;
}

#bottom-footer {
    border-top: 1px solid #698ef0;
    padding-top: 20px;
    height: 150px;
}

#bottom-footer a {
    float: right;
}